a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: underline;
  color: #E20036;
}
@font-face {
  font-family: 'AktivGrotesk-Bold';
  src: url("AktivGrotesk_W_Bd.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font: normal 14pt/130% serif;
  margin: 0.0em;
  overflow-x: hidden;
  padding: 0;
  font-family: times new roman; }
  @media screen and (max-width: 768px) {
    body {
      font: normal 12pt serif; } }

h2 {
  font-family: arial;
  margin: 0.0em;
  display: inline-block;
  font-size: 1.2em; }

p {
  -webkit-hyphens: auto;
  hyphens: auto; }

img {
  border: none; }

.intro-title {
  width: 100%;
  display: inline-block; }
  .intro-title p {
    background-color: #E20036;
    color: white;
    font-size: 2em;
    float: right;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
    padding: 0.4em;
    text-align: right;
    font-family: 'AktivGrotesk-Bold', Arial !important; }
    @media screen and (max-width: 768px) {
      .intro-title p {
        padding: 0.1em; } }
    @media screen and (max-width: 304px) {
      .intro-title p {
        font: bold 1.6em sans-serif; } }

.intro-header {
  font-family: "AktivGrotesk-Bold",Arial !important;
  font-size: 1.5em;
  font-weight: unset;
  margin-top: 1.2em; }

.intro-text {
  margin-top: 14px; }
  .intro-text p {
    margin-bottom: 5px;
    margin-top: 0; }
  .intro-text .italic {
    font-style: italic; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul h2 {
    display: block;
    background-color: #f5f5ee;
    margin: 0;
    cursor: pointer;
    border-top: 2px solid #E20036;
    padding-top: 12px;
    padding-left: 2px;
    padding-bottom: 5px; }
    ul h2 span {
      font-weight: normal; }
  ul .tab-text {
    display: inline-block;
    font-weight: bold;
    padding-right: 2em;
    font-size: 1em; }
  ul .tab-icon {
    margin-right: 0.5em;
    margin-top: 0;
    position: absolute;
    right: 0;
    transform: rotate(180deg);
    transition: all 0.35s ease 0s; }
  ul .tab-content {
    transition: all .25s ease;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
    padding-left: 2px; }
    ul .tab-content p {
      margin-bottom: 5px;
      margin-top: 0; }
    ul .tab-content h3 {
      background-color: #f5f5ee;
      border-top: 1px solid #000;
      font-size: 0.9em;
      font-weight: unset;
      margin-top: 2em;
      margin-bottom: 0.3em;
      padding-bottom: 0.2em;
      padding-left: 0.2em;
      padding-top: 0.3em;
      text-transform: uppercase;
      color: #E20036; }
    ul .tab-content h4 {
      font-size: 1em;
      margin-top: 0.4em;
      margin-bottom: 0.1em; }
    ul .tab-content .text-indent {
      padding-left: 1em; }
      ul .tab-content .text-indent img {
        vertical-align: middle; }
    ul .tab-content .italic {
      font-style: italic; }
    ul .tab-content .tab-padding {
      height: 30px;
      width: 100%; }
    ul .tab-content .centered-img {
      text-align: center;
      padding: 1em; }
      ul .tab-content .centered-img img {
        max-width: 300px;
        width: 100%; }
    ul .tab-content .border img {
      border: 1px solid #ddd; }
    ul .tab-content .fix-height img {
      width: auto; }
    ul .tab-content table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1em;
      margin-top: 1.2em; }
      ul .tab-content table tr {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000; }
        ul .tab-content table tr .oder {
          line-height: 2.1em; }
      ul .tab-content table tr td:first-child {
        background-color: #f5f5ee;
        width: 50%; }
      ul .tab-content table tr td {
        padding: 0.4em;
        vertical-align: top; }
      ul .tab-content table img {
        vertical-align: middle; }
    ul .tab-content .icon-table tr td:first-child {
      background-color: #fff;
      width: auto; }
    ul .tab-content .close-tabs {
      color: #E20036;
      float: right;
      text-decoration: underline;
      padding: 0.5em;
      cursor: pointer; }
  ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px; }
  ul input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0; }
  ul input[type=checkbox]:checked ~ .tab-content {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    /*  transform: translate(0, 50%);*/ }
  ul input[type=checkbox]:checked ~ h2 .tab-icon {
    transform: rotate(0deg); }

/* sourceMappingURL=help.css.map */
