<manifest
    package="de.thecode.android.tazreader"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".TazReaderDebugApplication"
        tools:replace="android:name">
    </application>

</manifest>
